<div class="search-card card text-center" id="search-<%= search.id %>">
  <div class="card" style="border: solid">
    <div class="card-body">
      <div class="card-header">
        <%= link_to search do %>
          <%= search.query %>
        <% end %>
      </div>
      <div class="card-body">
        <p class="card-text">
          Диапазон цен:
        </p>
        <p class="card-text">
          <%= search.min_price %> - <%= search.max_price %>
          <%= link_to search, remote: true, method: :delete,
                              data: { confirm: "Вы уверены?" } do %>
            <i class="fa fa-trash"
               aria-hidden='true'
               id="delete-search-<%= search.id %>"></i>
          <% end %>
        </p>
      </div>
      <div class="card-footer text-muted">
          Найдено всего: <%= search.items_count %>
      </div>
    </div>
  </div>
</div>

