          <tr>
            <th scope="row"> <%= item.source %> </th>
            <td id="item_<%= item.id %>"><%= item.title %></td>
            <td><%= 'price' %></td>
            <td><%= link_to 'URL', item.url %></td>
          </tr>
